<div class="container">
    <br>
    <div class="alert alert-warning" role="alert">
        오늘은 어떤 곳으로 떠나볼까요? 공간의 특성에 따라 가볼 곳을 추천해드립니다. 관심있는 정보를 선택해주세요. 
    </div>
    <form action="/entrance/select_feel_post" method="POST">
        <div class="row">
            <%@select_list.each_with_index do |each_select_value, index|%>
            <div class="col-6 p-0 border border-white" style="border-width:5px!important;">
                <span class="p-auto" style="font-size:1rem; position:absolute; z-index:99; color:white; text-shadow: 2px 2px 6px black; padding-left: 35%; padding-top: 23%;"><%= each_select_value %></span>
                <img src="/entrance_images/<%=each_select_value%>.jpg" class="img-check" width="100%;" name="chk<%= index %>">
                <input type="checkbox" name="chk[]" id="chk<%= index %>" value="<%= each_select_value %>" style="display:none" autocomplete="off">
            </div>
            <%end%> 
        </div>
        <br><input type="submit" value="선택하기" class="btn btn-block btn-success">
    </form>
    &nbsp;<br>
</div>
    
<style>
.check
{
    opacity:0.5;
	color:#996;	
}
</style>


<script>
$(document).ready(function(){
    $(".img-check").click(function(){
        $(this).toggleClass("check");
        var img_name = $(this).attr('name');
        
        if ($(this).attr('class') != "img-check check") {
            $("input:checkbox#"+img_name).attr("checked", false);
        }
        else if ($(this).attr('class') == "img-check check") {  
            $("input:checkbox#"+img_name).attr("checked", true);
        }
    });
    $(".p-img-check").click(function(){
        $(this > ".img-check").toggleClass("check");
        var img_name = $(".img-check").attr('name');
        
        if ($(".img-check").attr('class') != "img-check check") {
            $("input:checkbox#"+img_name).attr("checked", false);
        }
        else if ($(".img-check").attr('class') == "img-check check") {  
            $("input:checkbox#"+img_name).attr("checked", true);
        }
    });
});
</script>